
h1, h2{font-family: 'Poiret One', serif;}

h3, h4, p, th, td{font-family: 'Josefin Slab', serif;}

a{color: white;}

.kotak,.contact .container h1{
    text-align: center;
}

.black{background-color: #171B1A}

.al{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 30%;
}

.form-group{
    font-family: 'Poiret One', serif;
    font-size: 2vw;
}

.red{background-color: #A33A3A;}

.grey{background-color: #353537;}

.kotak{width: 100%;}

.left{text-align: left;}

.center{text-align: center;}

.right{text-align: right;}

.white{color: white;}

.overlay{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.28) 0%, #FFFFFF 100%), rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.header-trans{
    position: absolute;
    width: 100%;
    z-index: 100;
}

.headline{
    top: 50%;
    transform: translate(0, 50%);
}

.left-head{
    position: relative;
    left: 4%;
}

.right-head{
    position: relative;
    left: 70%;
}

.header-colored{
    position: fixed;
    width: 100%;
    background: #171B1A;
    z-index: 102;
}

.but{
    bottom: 5%;
    position: fixed;
    z-index: 105;
    left: 50%;
    transform: translate(-50%, 0);
    color: black;
}

.jumbotron{
	padding: 0px;
    margin-bottom: 0;
	background: no-repeat center center url("/static/images/back.JPG");
    background-size: cover;
}

.container{
    padding-top: 10%;
    padding-bottom: 7%;
    width: 80%;
	text-align: center;
}

.exp{
    padding-bottom: 8%;
}

.myfoto
{
	width: 100%;
	height: 100%;
	left: 5px;
}

.score
{
	float: right;
}

.glyphicon
{
	color: #dfe0e0;
}

.glyphicon.filled
{
	color: #111111;
}

.no-bullets
{
	text-align: left;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}

.green {
  background-color: #dcffce;
}
